/*****************************TAG SELECTORS******************/
body {
  text-align: center;
  margin: 0;
  border-top: 200px;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  color: #99A799;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #99A799;
  margin-top: 50px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #99A799;
}

hr {
  width: 7%;
  border-style: none;
  border-top-style: dotted;
  border-top-color: #EAF6F6;
  border-width: 8px;
  margin: 50px auto 50px auto;
}

p {
  line-height: 2;
}

a {
  color: #99A799;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  display: inline-block;
  margin: 30px 20px;
}

a:hover {
  color: #EAF6F6;
}

/*****************************CLASS SELECTORS******************/
.top-container {
  background-color: #D3E4CD;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  background-color: #D3E4CD;
  position: relative;
  color: #EAF6F6;
  padding-bottom: 20px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 20%;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 300px;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.books {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.pinup {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.brunette {
  margin-top: 50px;
  width: 25%;
}

.hello {
  margin: auto;
  width: 40%;
}

.get-in-touch-paragraph {
  margin: 40px auto 60px;
  text-align: center;
  width: 60%;
}

.credit {
  font-size: 0.8rem;
  color: #EAF6F6;
}

.btn {
  background: #adc2a9;
  background-image: -webkit-linear-gradient(top, #adc2a9, #99A799);
  background-image: -moz-linear-gradient(top, #adc2a9, #99A799);
  background-image: -ms-linear-gradient(top, #adc2a9, #99A799);
  background-image: -o-linear-gradient(top, #adc2a9, #99A799);
  background-image: linear-gradient(to bottom, #adc2a9, #99A799);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #D3E4CD;
  background-image: -webkit-linear-gradient(top, #D3E4CD, #ADC2A9);
  background-image: -moz-linear-gradient(top, #D3E4CD, #ADC2A9);
  background-image: -ms-linear-gradient(top, #D3E4CD, #ADC2A9);
  background-image: -o-linear-gradient(top, #D3E4CD, #ADC2A9);
  background-image: linear-gradient(to bottom, #D3E4CD, #ADC2A9);
  text-decoration: none;
}
